@import "variables";

// ----------------------------------------------------------------------------
// Widget-hasensor styles
// ----------------------------------------------------------------------------
.widget-hasun {

  .value {
  	color: $blue;
    display: inline-block;
    vertical-align: middle;
    font-size: 200%;
  }
}
