<% content_for :title do %>HADashboard<% end %>


<div class="gridster"> <!-- Main Panel - PAGE 1 -->
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
        <div data-id="clock"
             data-view="Clock"
             data-locale="de-DE"
             style="background-color:#2D95BF;"
        ></div>
    </li>

    <!-- Wetter -->
    <li data-row="2" data-col="1" data-sizex="2" data-sizey="2">
        <div data-id="weather"
             data-view="Haweather"
             data-unit="&deg;C"
             data-color="#FF0000"
             style="background-color:#2D95BF;"
        ></div>
    </li>

    <li data-row="1" data-col="6" data-sizex="2" data-sizey="1">
        <div data-id="current_title"
             data-title="Apple TV spielt"
             data-view="Hatext"
        ></div>
    </li>
    
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
        <div data-id="sunrise"
             data-title="Sonnenaufgang"
             data-locale="de-DE"
             data-view="Hatime"
             style="background-color:#2D95BF;"
        ></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
        <div data-id="sunset"
             data-title="Sonnenuntergang"
             data-locale="de-DE"
             data-view="Hatime"
             style="background-color:#2D95BF;"
        ></div>
    </li>

    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
        <div data-id="feinstaub_pm25"
             data-view="Hasensor"
             data-color="#FF0000"
             data-title="Feinstaub 2.5"
             data-unit="µg"
             style="background-color:#F15A5A;"
        ></div>
    </li>

    <li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
        <div data-id="feinstaub_pm10"
             data-view="Hasensor"
             data-color="#FF0000"
             data-title="Feinstaub 10"
             data-unit="µg"
             style="background-color:#F15A5A;"
        ></div>
    </li>

    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
        <div data-id="feinblatt_moisture"
             data-view="Hahumidity"
             data-color="#FF0000"
             data-title="Grünlilie"
             data-unit="%"
             style="background-color:#4EBA6F;"
        ></div>
    </li>

    <li data-row="3" data-col="4" data-sizex="1" data-sizey="1">
        <div data-id="drachenbaum_moisture"
             data-view="Hahumidity"
             data-color="#FF0000"
             data-title="Drachenbaum"
             data-unit="%"
             style="background-color:#4EBA6F;"
        ></div>
    </li>
    <li data-row="2" data-col="7" data-sizex="1" data-sizey="1">
        <div data-id="living_room_temperature"
             data-view="Hatemp"
             data-color="#FF0000"
             data-title="Wohnzimmer"
             data-unit="&deg;C"></div>
    </li>

    <li data-row="3" data-col="7" data-sizex="1" data-sizey="1">
        <div data-id="living_room_humidity"
             data-view="Hahumidity"
             data-color="#FF0000"
             data-unit="%"></div>
    </li>


    <li data-row="4" data-col="7" data-sizex="1" data-sizey="1">
        <div data-id="bedroom_temperature"
             data-view="Hatemp"
             data-color="#FF0000"
             data-title="Schlafzimmer"
             data-unit="&deg;C"></div>
    </li>

    <li data-row="5" data-col="7" data-sizex="1" data-sizey="1">
        <div data-id="bedroom_humidity"
             data-view="Hahumidity"
             data-color="#FF0000"
             data-unit="%"></div>
    </li>

    <li data-row="5" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="bright"
             data-view="Hascene"
             data-title="Hell"
             data-icon="sun-o"
             style="background-color:#955BA5;"
             ></div>
    </li>


    <li data-row="5" data-col="2" data-sizex="1" data-sizey="1">
        <div data-id="pastel_colors"
             data-view="Hascene"
             data-title="Pasteltöne"
             data-icon="hand-peace-o"
             style="background-color:#955BA5;"
             ></div>
    </li>

    <li data-row="6" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="romantic"
             data-view="Hascene"
             data-title="Romantisch"
             data-icon="heart-o"
             style="background-color:#955BA5;"
             ></div>
    </li>

    <li data-row="6" data-col="2" data-sizex="1" data-sizey="1">
        <div data-id="dim_living_room"
             data-view="Hascene"
             data-title="Gedimmt"
             data-icon="caret-down"
             style="background-color:#955BA5;"
             ></div>
    </li>

    <li data-row="4" data-col="2" data-sizex="1" data-sizey="1">
        <div data-id="movie"
             data-view="Hascene"
             data-title="Filmabend"
             data-icon="film"
             style="background-color:#955BA5;"
             ></div>
    </li>

    <li data-row="4" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="warmth"
             data-view="Hascene"
             data-title="Warm"
             data-icon="fire"
             style="background-color:#955BA5;"
             ></div>
    </li>

    <li data-row="1" data-col="8" data-sizex="1" data-sizey="1">
        <div data-id="bedroom_off"
             data-view="Hascene"
             data-color="#FF0000"
             data-title="Schlafz aus"
             data-icon="power-off"
             style="background-color:#955BA5;"
             ></div>
    </li>

    <li data-row="2" data-col="8" data-sizex="1" data-sizey="1">
        <div data-id="living_room_off"
             data-view="Hascene"
             data-color="#FF0000"
             data-title="Wohnz aus"
             data-icon="power-off"
             style="background-color:#955BA5;"
             ></div>
    </li>

    <li data-row="3" data-col="8" data-sizex="1" data-sizey="1">
        <div data-id="kitchen_off"
             data-view="Hascene"
             data-color="#FF0000"
             data-title="Küche aus"
             data-icon="power-off"
             style="background-color:#955BA5;"
             ></div>
    </li>


    <li data-row="4" data-col="8" data-sizex="1" data-sizey="2">
        <div data-id="all_off"
             data-view="Hascene"
             data-title="Alles aus"
             data-icon="power-off"
             style="background-color:#955BA5;"
             ></div>
    </li>



    <li data-row="2" data-col="6" data-sizex="1" data-sizey="1">
        <div data-id="stereoanlage"
             data-view="Halight"
             data-title="A/V-Receiver"
             data-icon="music"
        ></div>
    </li>

    <li data-row="4" data-col="6" data-sizex="1" data-sizey="1">
        <div data-id="bedroom_stereo"
             data-view="Haswitch"
             data-title="Schlafradio"
             data-icon="music"
        ></div>
    </li>

    <li data-row="5" data-col="6" data-sizex="1" data-sizey="1">
        <div data-id="kitchen_stereo"
             data-view="Haswitch"
             data-title="Küchenradio"
             data-icon="music"
        ></div>
    </li>

    <li data-row="6" data-col="7" data-sizex="1" data-sizey="1">
        <div data-id="arbeitszimmer"
             data-view="Halight"
             data-title="Bürolicht"
             data-icon="lightbulb-o"
             style="background-color:#F0C419;"
        ></div>
    </li>

    <li data-row="6" data-col="6" data-sizex="1" data-sizey="1">
        <div data-id="schlafzimmer"
             data-view="Halight"
             data-title="Schlaflicht"
             data-icon="lightbulb-o"
             style="background-color:#F0C419;"
        ></div>
    </li>

    <li data-row="4" data-col="3" data-sizex="1" data-sizey="1">
        <div data-id="esstisch"
             data-view="Halight"
             data-title="Esstisch"
             data-icon="lightbulb-o"
             style="background-color:#F0C419;"
        ></div>
    </li>

    <li data-row="5" data-col="3" data-sizex="1" data-sizey="1">
        <div data-id="couchtisch_l"
             data-view="Halight"
             data-title="Couch-Tisch"
             data-icon="lightbulb-o"
             style="background-color:#F0C419;"
        ></div>
    </li>

    <li data-row="6" data-col="3" data-sizex="1" data-sizey="1">
        <div data-id="dudero"
             data-view="Halight"
             data-title="Duderö"
             data-icon="lightbulb-o"
             style="background-color:#F0C419;"
        ></div>
    </li>

    <li data-row="4" data-col="4" data-sizex="1" data-sizey="1">
        <div data-id="curtain_balls"
             data-view="Haswitch"
             data-title="Vorhang"
             data-icon="lightbulb-o"
             style="background-color:#F0C419;"
        ></div>
    </li>

    <li data-row="6" data-col="4" data-sizex="1" data-sizey="1">
        <div data-id="regalgirlande"
             data-view="Halight"
             data-title="Regalgirlande"
             data-icon="lightbulb-o"
             style="background-color:#F0C419;"
        ></div>
    </li>

    <li data-row="5" data-col="4" data-sizex="1" data-sizey="1">
        <div data-id="star_lights"
             data-view="Haswitch"
             data-title="Sternengirlande"
             data-icon="lightbulb-o"
             style="background-color:#F0C419;"
        ></div>
    </li>


    <li data-row="6" data-col="8" data-sizex="1" data-sizey="1">
        <div data-id="reload"
             data-view="Reload"
        ></div>
    </li>

  </ul>
</div>

