@import "variables";

// ----------------------------------------------------------------------------
// Widget styles
// ----------------------------------------------------------------------------
.widget-halight {

  position: relative;

  .dimmer-icon-off .dimmer-icon-on {
    font-size: 150%;
  }

  .dimmer-icon-off {
    color: $color-inactive;
  }

  .dimmer-icon-on {
    color: $color-active;
  }

}
